@CHARSET "UTF-8";

div.palette {
  -moz-border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 3px 4px 15px -5px #000000;
  background-color: #D5DADF;
  border: 1px solid #939393;
  position: fixed;
  width: 265px;
  z-index : 998;
  display : none;
}

div.palette p.dragme { 
  height:19px;
  padding:7px 5px 5px 10px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #5E5F64;
  background:-moz-linear-gradient(0% 100% 90deg, #5A5B5F, #98999D, #98999D 100%);
  background:-webkit-gradient(linear, 0% 11%, 0% 100%, from(#98999D), to(#5A5B5F), color-stop(.9,#5A5B5F));
  color:#FFFFFF;
  font-size: 12px;
  text-shadow: 1px 1px #000000;
  cursor: move;
  margin: 0px;
}

div.palette p.dragme a {
  width: 19px;
  height: 19px;
  background-image: url(images/palette_sprite.png);
  position:absolute;
  display : block;
  text-indent : -700em;
  overflow : hidden;
  top:5px;
}

div.palette a.close {
  right: 5px;
}

div.palette a.minimise {
  right: 29px;
  background-position : -38px 0;
}

div.palette a.maximise {
  right: 29px;
  background-position : -19px 0;
}

div.palette h3 {
  background-color: #c3cad1;
  border-top: 1px solid #939393;
  padding: 10px;
  margin:0;
  font-size: inherit;
  font-weight : bold;
  cursor:pointer;
}

div.palette h3.active{ 
  background-color: #D5DADF;
}

div.palette div.palette-section-content {
  padding: 10px;
}

.dragselected {
  z-index:999 !important;
}
